//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  transition: all .2s ease-in-out;
  
  .section-intro {
    padding: 40px 0;

    text-align: center;
  }
}
